.details, .card-details {
  border: 1px solid $green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: white;
  padding: 25px;
  margin-top: 40px;
  width: 500px;
}

.details {
  background-color: white;
}

.card-details {
  margin-left: 80px;
  width: 500px;
}

.search {
  margin-bottom: 40px;
}

.btn-new {
  &:focus {
    background-color: $green;
    color:white;
  }
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgb(163, 161, 161);
  padding-bottom: 10px;
}

.infos {
  border-bottom: 1px solid rgb(163, 161, 161);
  padding-bottom: 8px;
  font-size: 14px;
}

.datepicker {
  width: 200px;
}

.btn-pay {
text-align: center;
}


.card-details h2 {
  font-family: "Montserrat";
  font-size: 20px;
  margin-bottom: 16px;
}

.details h2 {
  font-family: "Montserrat";
  margin-bottom: 20px;
  font-size: 22px;
}

.img-booking  .img-show {
  height: auto;
  width: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 8px;

}

.img-booking {
  text-align: center;
}
