.details, .card-details {
  border: 1px solid $green;
  box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  border-radius: 8px;
  background-color: white;
  padding: 30px;
  margin-top: 60px;
  width: 500px;
}

.card-details {
  margin-left: 80px;
  width: 500px;
}

.search {
  margin-bottom: 40px;
}

.btn-new {
  &:focus {
    background-color: $green;
    color:white;
  }
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid rgb(163, 161, 161);
  padding-bottom: 15px;
}

.infos {
  border-bottom: 1px solid rgb(163, 161, 161);
  padding-bottom: 15px;
}

.datepicker {
  width: 200px;
}

.btn-pay {
text-align: center;
}


.card-details h2 {
  font-family: "Montserrat";
  font-size: 25px;
  margin-bottom: 25px;
}

.details h2 {
  font-family: "Montserrat";
  margin-bottom: 20px;
}
