
#body-show {
  padding-top:8%;
}

#c-show {
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}

.description-container {
  display: block;
  padding: 20px;
}

.img-show {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 376px;
  height: 376px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description-container .btn-flat {
  font-weight: bold;
}

.description-container {
  font-size: 20px;
}

.back-btn {
  color: rgb(0, 0, 0);
  padding: 5px 7px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.back-btn a {
  color: rgb(0, 0, 0);
}

#map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}