<div class="container-review">
  <div class="container-notification">
    <div class="notification">
      <img src='https://avatars.githubusercontent.com/u/57566457?v=4' class="avatar-large"/>
      <div class="notification-content">
        <p><small>20th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>This site is really great, well done to the founders of this site</p>
      </div>
    </div>

    <div class="notification">
      <img src='https://avatars.githubusercontent.com/u/25443871?v=4' class="avatar-large"/>
      <div class="notification-content">
        <p><small>16th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>What an incredible experience thanks to this site</p>
      </div>
    </div>

    <div class="notification">
      <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1544604383/pnqv3gmdpbtqrstpqgls.jpg' class="avatar-large"/>
      <div class="notification-content">
        <p><small>15th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>I love this website</p>
      </div>
    </div>

      <div class="notification">
      <img src='https://ca.slack-edge.com/T02NE0241-U02NE1NL9-40998e0a5c92-72' class="avatar-large" />
      <div class="notification-content">
        <p><small>14th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>An excellent user experience</p>
      </div>
    </div>
  </div>

  <div class="container-notification">
    <div class="notification">
      <img src='https://avatars.githubusercontent.com/u/62572114?v=4' class="avatar-large"/>
      <div class="notification-content">
        <p><small>12th August </small></p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>One-click reservation, fast and efficient</p>
      </div>
    </div>

    <div class="notification">
      <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1609346642/odae0n6o1q5dv1fiqzj4.jpg' class="avatar-large"/>
      <div class="notification-content">
        <p><small>9th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>I spent the best day of my life renting a fish, thank you</p>
      </div>
    </div>

    <div class="notification">
      <img src='https://avatars.githubusercontent.com/u/54894352?v=4' class="avatar-large"/>
      <div class="notification-content">
        <p><small>7th August </small></p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>Simple and easy to book</p>
      </div>
    </div>

    <div class="notification">
      <img src='https://avatars.githubusercontent.com/u/8093761?v=4' class="avatar-large"/>
      <div class="notification-content">
        <p><small>5th August </small></p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p>I earned more than 1000 $ in a month thanks to this website</p>
      </div>
    </div>
  </div>
</div>
