<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lh3.googleusercontent.com/proxy/YG5AYnND4wUEZcz6vHkLT4ixhKcSXixjfCTjVZBFkJb9W_h-S038NnyvcNKpQPuCPCr_ia9CHiYw69iALPqrJyDNtFpv_AIGEMM5WHkSnErGDNPMilbavhL8PWHht_qS151r_S73iWksES_7y0AuzMxPhcej1nAsYE9eJXsfjeyQMttFsX08seutrujH6e4C3yVw3I7qKk6Ce2dFFllyptm3hnzSMHv_P0lOu4zsPscdAe-vxrBWdVmL);">
  <div class="container">
    <h1>Have a break, Rent a pet</h1>
    <div class="search">
      <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2 rounded-pill" type="text" placeholder="Enter the city" aria-label="Search">
        <div class="dropdown">
        <button class="btn btn-light dropdown-toggle rounded-pill mr-sm-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <button class="btn-flat btn-flat:hover" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>


<a class="btn btn-flat" href="#">Book now</a>


<p>Find me in app/views/pages/home.html.erb</p>
