<div class="content" id="contain-map-and-animals" >

  <div class="map">
    <%= image_tag "map.jpeg" %>
  </div>
  <ul>
    <div class="cards flex-column">
      <% @animals.each do |animal| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cvlaval.com/sites/default/files/carousel/chat-1.jpg)">
            <%= link_to animal.name, animal_path(animal) %>
          </div>
      <% end %>

    </div>
  </ul>
</div>
