<ul>
  <% @animals.each do |animal| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cvlaval.com/sites/default/files/carousel/chat-1.jpg) %>)">
      <li><%= link_to animal.name, animal_path(animal) %></li>
    </div>
  <% end %>
</ul>