.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5C8B55;
  transition: background 0.3s ease;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-flat:hover {
  background: #2f7255;
  color: white;
  border: 1px;
  font-weight: bold;
}

.btn-flat.not-active {
  opacity: 0.5;
}

.btn-booking {
  text-align: center;
}
