.navbar-lewagon {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: white;
  height: 70px;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.nav-item {
  display: flex;
}

.navbar-brand h2 {
  font-family: 'Yomogi', cursive;
  font-weight: bold;
}
